# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv files
.env
*.env

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Backend build artifacts
/dist
/build

# Ignore env files created for API keys
groq.env
